* {
    box-sizing: border-box;
}

button {
    outline: none;
    margin: 1px;
}

.key {
    border-style: none;
    width: 3em;
    height: 3em;
}

.number {
    background-color: darkolivegreen;
    color: #eeeeee;
}

.number:hover {
    background-color: darkseagreen;
}

.number:active {
    background-color: darkolivegreen;
}

.double {
    width: calc(6em + 2px);
}

#keys {
    display: flex;

}

#screen {
    text-align: right;
    background-color: #aaaaaa;
    height: 40px;
    width: 208px;
    margin: 1px;
    font-family: 'VT323', monospace;
    font-size: 36px;
    padding-right: 4px;
}

#calculator {
    display: flex;
    flex-direction: column;
    background-color: darkslategray;
    width: 219px;
    padding: 2px;
    border: 2px solid #007069;
    border-radius: 5px;
    margin: 0 0;
}

.row {
    display: flex;
}

.operator {
    background-color: cadetblue;
    color: #eeeeee;
}

.operator:hover {
    background-color: darkseagreen;
}

.clear {
    background-color: dodgerblue;
    color: #eeeeee;
}

.clear:hover {
    background-color: darkseagreen;
}

.equal {
    background-color: dodgerblue;
    color: #eeeeee;
}

.equal:hover {
    background-color: darkseagreen;
}